body {
 color: #e6e6e6;
 background-image: url('photo8.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 /* font-family: 'Lato', sans-serif; */
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 2.3em;

}


form {
     margin-top: 60px;

}


h1 {
    color: white;
    font-weight: 100;
    font-size: 2em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
}


h2 {
    color: white;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
}

h4 {
    color: #66ccff;
    font-family: 'Lato', sans-serif;
}

h7 {
    color: rgba(255, 255, 255, .4);

}

h1 small {
    color: #e6e6e6;
}

h2 small {
    color: white;

}

